@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Welcome to NerdDinner!</h1>
    <p class="lead">NerdDinner is an online application where you and others can plan events or attend events that others are hosting. Users may RSVP to events they wish to attend to add themselves to the guest list.</p>
    <div class="row">
        <div class="col-md-2">
            <p>@Html.ActionLink("Learn more »", "About", "Home", null, new { @class = "btn btn-default btn-lg" })</p>
        </div>

        <div class="col-md-2">
            <p>@Html.ActionLink("Find a Dinner", "Index", "Dinners", null, new { @class = "btn btn-primary btn-lg" })</p>
        </div>

        <div class="col-md-2">
            <p>@Html.ActionLink("Host a Dinner", "New", "Dinners", null, new { @class = "btn btn-info btn-lg" })</p>
        </div>
    </div>
</div>
